:root{
  --darkTheme:#071920;
  --darkFont:#E9F9FF;
  --lightTheme:#E9F9FF;
  --lightFont:#071920;
  --normalButton:#EF8200;
  --hoverButton:#0C6BB2;
  --navAndFooter:#00B655;
  --navAndFooterFont:#071920; 
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: var(--normalButton);
  padding: 10px;
  border: none;
  width: 20%;
  cursor: pointer;
}
.favButton:hover{
  background-color: var(--hoverButton);
}

.backButton{
  background-color: #EF8200;
  border: none;
  padding: 10px;
  width: 100px;
  cursor: pointer;
}

.backButton:hover{
  background-color: var(--hoverButton);
}

.themeButton{
  background-color: var(--normalButton);
  color: var(--darkTheme);
  border-radius: none;
  border: solid;
  border-color: var(--normalButton);
  padding: 5px;
}

.themeButton:hover{
  background-color: var(--hoverButton);
  border-color: var(--hoverButton);
}

h1{
  text-align: center;
}

nav {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 5px; 
  background-color: var(--navAndFooter);
}

nav img.logo {
  max-height: 170px; 
  max-width: 100%; 
  margin-right: 20px;
  margin-left: 20px;  
}

nav ul {
  list-style: none; 
  display: flex;
  gap: 20px; 
}

nav li {
  padding: 0; 
}

nav a {
  text-decoration: none; 
  color: var(--navAndFooterFont) 
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: var(--hoverButton);
} 

.Theme.light {
  background: var(--lightTheme);
  color: var(--lightFont);
}

.Theme.dark {
  background: var(--darkTheme);
  color: var(--lightFont);
}

footer {
  display: flex;
  justify-content:space-evenly;
  text-align: center;  
  color: var(--darkFont);
  position: relative;  
  width: 100%;
  height: auto;  
  background-color: var(--navAndFooter);
  align-items: center;
}

footer > img{
  width: 200px;  
}

.Contactos{
  color: var(--hoverButton);
}

.Contactos:hover{
  color: var(--normalButton);
}

.imagenF{
  width: 200px
}



.form-container {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;  
}
.form-field {
  margin-bottom: 10px;
}
.form-field label {
  display: block; 
  margin-bottom: 5px; 
  font-weight: bold; 
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px 20px; 
  background-color: var(--normalButton); 
  color: var(--darkTheme); 
  border: none; 
  border-radius: 5px; 
  font-size: 18px; 
  cursor: pointer; 
}

.form-field input[type="text"]:hover,
.form-field input[type="email"]:hover,
.form-field textarea:hover,
.form-field label:hover {
  cursor: text;
}
button[type="submit"]:hover {
  background-color: var(--hoverButton); 
}

.success-message {
  color: green;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 300px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 2px solid var(--normalButton);
  border-radius: 0%;
  flex: 1;
  margin-bottom: 20px;
}

.imagen{
  width: 100px;
}


.card:hover{
  border: 0.5px solid var(--navAndFooter);
}

.card-grid{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}