:root






body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 20%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 10px; 
  background-color: #333;
}

nav img.logo {
  max-height: 150px; 
  max-width: 100%; 
  margin-right: 20px; 
}

nav ul {
  list-style: none; 
  display: flex;
  gap: 20px; 
}

nav li {
  padding: 0; 
}

nav a {
  text-decoration: none; 
  color: white; 
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(25, 18, 127);
} 

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

.form-container {
  width: 300px;
  margin: 0 auto;
}
.form-field {
  margin-bottom: 10px;
}
.form-field label {
  display: block; 
  margin-bottom: 5px; 
  font-weight: bold; 
}


.form-field input[type="text"],
.form-field input[type="email"],
.form-field textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 16px;
}


button[type="submit"] {
  padding: 10px 20px; 
  background-color: #ddff00; 
  color: #000000; 
  border: none; 
  border-radius: 5px; 
  font-size: 18px; 
  cursor: pointer; 
}

.form-field input[type="text"]:hover,
.form-field input[type="email"]:hover,
.form-field textarea:hover,
.form-field label:hover {
  cursor: text;
}
button[type="submit"]:hover {
  background-color: #00b306; 
}

.success-message {
  color: green;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 300px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 2px solid rgb(78, 9, 240);
  border-radius: 0%;
  flex: 1;
}

.imagen{
  width: 100px;
}


.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}